<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langsin.oa.mapper.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.langsin.oa.dto.UserRoleDto">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="role_id" jdbcType="BIGINT" property="roleId" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
    </resultMap>
    <delete id="delByUserId">
    delete from r_user_role where user_id=#{userId}
  </delete>

    <insert id="insertList" parameterType="java.util.List">
        insert into r_user_role
        (user_id, role_id)
        values
        <foreach collection="list" item="roleId" index="index"
                 separator=",">
            (
            #{userId},#{roleId}
            )
        </foreach>
    </insert>
</mapper>